@charset "UTF-8";

.zen-kaku-gothic-new-light {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.zen-kaku-gothic-new-regular {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.zen-kaku-gothic-new-medium {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-weight: 300;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    line-height: 1.6;
    color: #333;
    height: 100%;
}

#wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* 動く映像背景の設定
#scrolly-video {
    display: flex;
    position: sticky;
    z-index: 0;
} */

#scrolly-video p {
    color: #ffffff;
    font-weight: 500;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 10;
}

header img {
    height: 55vh;
    width: 110%;
    object-fit: cover;
}

.hero {
    color: #ffffff;
    font-weight: 500;
    font-size: 2rem;
    position: absolute;
    top: 27%;
    left: 10%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 10;
}

.icon {
    height: 100%;
}

.icon img {
    width: 120px;
    height: auto;
    margin-top: 10%;
    padding: 30px;
    display: block;
    border-radius: 100%;
}

header h1 {
    background: #ffffff;
    position: relative;
    padding: 2rem 0;
    padding-top: 3rem;
    padding-left: 40px;
    font-size: 110%;
    letter-spacing: 0.2rem;
    font-weight: 500;
    z-index: 3;
}

nav {
    position: absolute;
    top: 200px;
    right: -100px;
    transform: rotate(-90deg);
    z-index: 1;
}

/* nav ul {
    display: flex;
    flex-direction: column;
    gap: 2%;
} */

nav ul li {
    display: inline-block;
    margin: 50px 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: 70%;
    font-weight: 500;
    color: #ffffff;
}

nav ul li a.invert {
    color: #000000;
}

main {
    max-width: 1025px;
    background: #fff;
    padding: 10%;
    padding-top: 5%;
    margin: 0 auto;
    margin-bottom: 20%;
    margin-top: 0%;
    padding-bottom: 20vh;
    position: relative;
    z-index: 3;
}

.works {
    display: grid;
    /* grid-column-start: 1;
    grid-column-end: 2; */
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

/* main h2 {
    font-size: 1rem;
    font-weight: 500;
} */

main h3 {
    font-size: 0.7rem;
    font-weight: 400;
}

main h4 {
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1rem;
}

.filter-buttons {
    margin-bottom: 2em;
    text-align: center;
}

main button {
    font-size: 0.56rem;
}

.filter-btn {
    font-weight: 400;
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #73a0ee;
    background-color: #fff;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
}

/* 選択中のボタンのスタイル */
.filter-btn.active {
    background-color: #73a0ee;
    color: #fff;
    border-color: #73a0ee;
}

/* 実績アイテム */
.set {
    transition: transform 0.3s;
}

.work-item.show {
    pointer-events: none;
    transform: scale(1.0);
    opacity: 100;
    padding: 0;
    margin: 0;
    border: none;
}

/* 非表示にするためのクラス */
.work-item.hide {
    pointer-events: none;
    transform: scale(0.9);
    opacity: 0;
    /* display: none だとアニメーションしないため、高さを0にするテクニック */
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
}

section {
    width: 100%;
    transition: transform .5s, opacity 0.3s;
}

/* .sec01 {
    grid-row-start: 1;
    grid-row-end: 2;
} */

.sec02 {
    /* position: relative;
    grid-column-start: 2; */
    grid-column-end: 3;
}

.set {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* transition: transform 0.3s, opacity 0.3s; */
}

.set:hover {
    transform: scale(1.05);
}

main img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}

main section:hover {
    text-decoration: underline;
}

main p {
    font-size: 0.6rem;
    color: #333;
    font-weight: 500;
    position: relative;
    background: #fff;
    padding: 10px;
    text-align: center;
}

main a {
    color: #333;
    font-weight: 500;
}

footer {
    background-image: url(images/WebFolioBg.jpg);
    transform: rotate(180deg);
    background-size: cover;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    margin-top: 10vh;
}

footer p {
    transform: rotate(-180deg);
    font-weight: 500;
}

.topclass {
    scale: 6%;
    position: fixed;
    bottom: -360px;
    right: -320px;
    z-index: 5;
}

.top {
    scale: 6%;
}

.triangle {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 0px;
    right: 10px;
    z-index: 10;
}

a.pagetop {
    display: block;
    width: 0;
    height: 0;
    color: #73a0ee;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 18px solid #4a76c3;
    /* border: solid 3px;
    border-color: #fff;
    border-radius: 50%;*/
    position: absolute;
    top: 10px;
    left: 10px;
    transform: translate(-50% -50%);
}

a.pagetop-w {
    display: block;
    width: 0;
    height: 0;
    font-size: 1.5rem;
    color: #ffffff;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 20px solid #ffffff;
    /* border: solid 3px;
    border-color: #fff;
    border-radius: 50%; */
    position: absolute;
    top: 9px;
    left: 9px;
    transform: translate(-50% -50%);
    -ms-filter: blur(5px);
    filter: blur(5px);
    z-index: -1;
}

html {
    scroll-behavior: smooth;
}

/*タブレット用*/
@media all and (min-width: 800px) {

    #scrolly-video p {
        font-size: 3rem;
    }

    nav {
        top: 200px;
        right: -100px;
    }

    nav ul li a {
        font-size: 80%;
    }

    header h1 {
        font-size: 150%;
    }

    main h2 {
        font-size: 110%;
    }

    main h3 {
        font-size: 110%;
    }

    main h4 {
        font-size: 80%;
        line-height: 2rem;
    }

    main p {
        font-size: 80%;
        line-height: 1.3rem;
    }

    main button {
        font-size: 0.8rem;
    }


    .sec11 {
        line-height: 2rem;
    }

    .icon img {
        width: 150px;
        height: auto;
    }

    .works {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .sec01 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .sec02 {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .images {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-start: 1;
        grid-column-end: 2;
        gap: 0.5rem;
    }

    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-start: 2;
        grid-column-end: 5;
        gap: 0.5rem;
    }

    .triangle {
        right: 15px;
    }
}

/* pc用 */
@media all and (min-width: 1025px) {

    #scrolly-video p {
        font-size: 4rem;
        /* margin-top: 600px; */
    }

    nav {
        top: 200px;
        right: -120px;
    }

    nav ul li a {
        font-size: 100%;
    }

    header h1 {
        font-size: 200%;
    }

    .icon img {
        width: 180px;
        height: auto;
    }

    .works {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    main button {
        font-size: 0.9rem;
    }

    main p {
        font-size: 80%;
    }

    .sec01 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .sec02 {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .sec03 {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .triangle {
        right: 20px;
    }
}